[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/punk/Desktop/Display0.desktop]
row=1
col=2

[/home/punk/Desktop/Downloads]
row=5
col=1

[/home/punk/Desktop/EFI]
row=2
col=1

[/home/punk/Desktop/dists]
row=7
col=1

[/home/punk/Desktop/pool]
row=2
col=2

[/home/punk/Desktop/install]
row=2
col=0

[/home/punk/Desktop/Public]
row=1
col=1

[/home/punk/Desktop/Display.desktop]
row=0
col=0

[/home/punk/Desktop/Downloads2]
row=4
col=1

[/home/punk/Desktop/RFKilla]
row=6
col=0

[/home/punk/Desktop/Pictures]
row=3
col=0

[/home/punk/Desktop/mnt]
row=8
col=1

[/home/punk/Desktop/signal-desktop.desktop]
row=5
col=0

[/home/punk/Desktop/snap]
row=7
col=0

[/home/punk/Desktop/code.tar.gz]
row=4
col=0

[/home/punk/Desktop/Desktop]
row=8
col=0

[/home/punk/Desktop/Documents]
row=6
col=1

[/home/punk/Desktop/dev.warp.Warp.desktop]
row=3
col=1

[Trash]
row=0
col=1

[/home/punk]
row=1
col=0

